body {
    font-family: Arial, sans-serif;
    background: #f3efef;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "device-display device-display settings-panel"
        "device-display device-display record-control"
        "statistics-panel statistics-panel record-control";
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 20px;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.device-display {
    grid-area: device-display;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.device-box {
    background: #ffffff;
    border-radius: 8px;
    padding: 12px 4px 4px 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    height: 300px;
}

.device-box img {
    width: 92%;
    margin: auto;
    height: auto;
    max-height: 220px;
    object-fit: cover;
}

.settings-panel,
.statistics-panel,
.record-control {
    background: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flex{
    display: flex;
    justify-content: space-around;
}
.settings-panel label,
.statistics-panel p,
.record-control p {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings-panel{
    grid-area: settings-panel;
}

.statistics-panel{
    grid-area: statistics-panel;
}

.record-control{
    grid-area: record-control;
}

button {
    background: #5bb1fc;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 5px;
}

button:hover {
    background: #5bb1fc;
    color: #ffffff;
    border: #52aeff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "device-display"
            "settings-panel"
            "statistics-panel"
            "record-control";
        grid-template-columns: 1fr;
    }

    .device-display {
        grid-template-columns: 1fr;
    }
}